Repository TobiasSpaeth83/ai-shared-memory, changes with the owners that CODEOWNERS names for each.
All owners: @tobias-spaeth, @ai-team, @devops-team, @documentation-team, @architecture-team

feat: Implement Operator Agent (T-103)
  .claude/settings.local.json
  memory/context.json
  tooling/operator/package-lock.json
  tooling/operator/package.json
  tooling/operator/src/index.ts
  tooling/operator/tsconfig.json
Owners: @tobias-spaeth, @ai-team

fix: Add SHA handling and empty-commit prevention per architect review
  .claude/settings.local.json
  docs/development/claude-report-2025-09-03.md
  docs/guides/MCP-OPERATOR-EXPLANATION.md
  docs/webhooks.md
  tooling/operator/src/index.ts
Owners: @tobias-spaeth, @ai-team, @documentation-team

T-201: Create minimal HTML page with heading and paragraph
  site/public/test/hello.html
Owners: @tobias-spaeth

T-201: Task added to context memory
  memory/context.json
Owners: @tobias-spaeth, @ai-team

chore(context): restore from main & add T-201 task (restore)
  memory/context.json
Owners: @tobias-spaeth, @ai-team

chore(context): add T-202 blog task
  memory/context.json
Owners: @tobias-spaeth, @ai-team

feat: T-202 Blogartikel 'Warum deterministische Finanzplanung?'
  site/public/blog/warum-deterministische-finanzplanung.html
Owners: @tobias-spaeth

feat: verbesserte Version des T-202 Blogartikels mit Bild und Stil
  site/public/blog/warum-deterministische-finanzplanung.html
Owners: @tobias-spaeth

feat: Implement Chat-Bridge v0.1 and Auto-Merge support
  .claude/settings.local.json
  .github/workflows/auto-merge-site.yml
  README-CONTRIBUTORS.md
  docs/chats_tickets/neue anweisungen.doc
  docs/chats_tickets/neue anweisungen.md
  docs/development/operator-test-report-2025-09-03.md
  tooling/operator/src/chat-bridge.ts
  tooling/operator/src/index.ts
Owners: @tobias-spaeth, @ai-team, @devops-team, @documentation-team

Add demo page hello-now
  site/public/demos/hello-now.html
Owners: @tobias-spaeth

Add chat message to Claude: hallo
  .chat/inbox/from-chatgpt/2025-09-04-hallo.json
Owners: @tobias-spaeth

fix: Remove deadlock from auto-merge workflow
  .github/workflows/auto-merge-site.yml
Owners: @tobias-spaeth, @devops-team

Add chat message to Claude: hallo again
  .chat/inbox/from-chatgpt/2025-09-04-hallo-2.json
Owners: @tobias-spaeth

Add chat message to Claude: ideenskizze
  .chat/inbox/from-chatgpt/2025-09-05-ideenskizze.json
Owners: @tobias-spaeth

feat: Add static Chat-UI viewer with auto-refresh
  .claude/settings.local.json
  .github/workflows/auto-merge-chat.yml
  docs/chats_tickets/neue anweisungen-2.md
  site/public/chat/app.css
  site/public/chat/app.js
  site/public/chat/data/general.json
  site/public/chat/data/thread-index.json
  site/public/chat/index.html
  site/public/chat/thread.html
  tooling/operator/src/chat-bridge.ts
Owners: @tobias-spaeth, @ai-team, @devops-team, @documentation-team

feat: Add static Chat-UI viewer with auto-refresh (#21)
  .claude/settings.local.json
  .github/workflows/auto-merge-chat.yml
  docs/chats_tickets/neue anweisungen-2.md
  site/public/chat/app.css
  site/public/chat/app.js
  site/public/chat/data/general.json
  site/public/chat/data/thread-index.json
  site/public/chat/index.html
  site/public/chat/thread.html
  tooling/operator/src/chat-bridge.ts
Owners: @tobias-spaeth, @ai-team, @devops-team, @documentation-team

feat: Add webhook operator tasks T-501 to T-504
  .chat/inbox/from-chatgpt/2025-09-06-t501.json
  .chat/inbox/from-chatgpt/2025-09-06-t502.json
  .chat/inbox/from-chatgpt/2025-09-06-t503.json
  .chat/inbox/from-chatgpt/2025-09-06-t504.json
  .tasks/patches/T-501.json
  .tasks/patches/T-502.json
  .tasks/patches/T-503.json
  .tasks/patches/T-504.json
Owners: @tobias-spaeth

feat: Add webhook operator tasks T-501 to T-504 (#22)
  .chat/inbox/from-chatgpt/2025-09-06-t501.json
  .chat/inbox/from-chatgpt/2025-09-06-t502.json
  .chat/inbox/from-chatgpt/2025-09-06-t503.json
  .chat/inbox/from-chatgpt/2025-09-06-t504.json
  .tasks/patches/T-501.json
  .tasks/patches/T-502.json
  .tasks/patches/T-503.json
  .tasks/patches/T-504.json
Owners: @tobias-spaeth

feat: Implement webhook server and cron fallback (T-501 to T-504)
  .claude/settings.local.json
  docs/chats_tickets/ProjektÜberblick.md
  docs/chats_tickets/neue anweisungen-3.md
  docs/cron-fallback.md
  docs/deploy-operator-render.md
  docs/webhooks-operator.md
  tooling/operator/package.json
  tooling/operator/src/cron.ts
  tooling/operator/src/server.ts
Owners: @tobias-spaeth, @ai-team, @documentation-team

feat: Implement webhook server and cron fallback (T-501 to T-504) (#23)
  .claude/settings.local.json
  docs/chats_tickets/ProjektÜberblick.md
  docs/chats_tickets/neue anweisungen-3.md
  docs/cron-fallback.md
  docs/deploy-operator-render.md
  docs/webhooks-operator.md
  tooling/operator/package.json
  tooling/operator/src/cron.ts
  tooling/operator/src/server.ts
Owners: @tobias-spaeth, @ai-team, @documentation-team

docs: Update next_chat.md with current status and webhook deployment instructions
  next_chat.md
Owners: @tobias-spaeth

chore: Update local Claude settings
  .claude/settings.local.json
Owners: @tobias-spaeth, @ai-team

fix(operator): Fix Render build errors - proper exports and public wrapper
  .claude/settings.local.json
  docs/chats_tickets/neue anweisungen-4.md
  docs/deploy-operator-render.md
  tooling/operator/package-lock.json
  tooling/operator/src/chat-bridge.ts
  tooling/operator/src/cron.ts
  tooling/operator/src/index.ts
  tooling/operator/src/server.ts
Owners: @tobias-spaeth, @ai-team, @documentation-team

chore: Update local settings
  .claude/settings.local.json
Owners: @tobias-spaeth, @ai-team

fix: Render Build Errors (T-505) - TypeScript exports & public wrapper (#24)
  .claude/settings.local.json
  docs/chats_tickets/neue anweisungen-4.md
  next_chat.md
  tooling/operator/package-lock.json
  tooling/operator/src/chat-bridge.ts
  tooling/operator/src/cron.ts
  tooling/operator/src/index.ts
  tooling/operator/src/server.ts
Owners: @tobias-spaeth, @ai-team, @documentation-team

fix: Implement fast ACK webhook with robust error handling
  tooling/operator/src/server.ts
Owners: @tobias-spaeth

fix: Implement fast ACK webhook with robust error handling (#25)
  tooling/operator/src/server.ts
Owners: @tobias-spaeth

Add demo page hello-webhook
  site/public/demos/hello-webhook.html
Owners: @tobias-spaeth

Add demo page hello-webhook (#26)
  site/public/demos/hello-webhook.html
Owners: @tobias-spaeth

Add chat message to Claude: webhook live-test
  .chat/inbox/from-chatgpt/2025-09-11-test.json
Owners: @tobias-spaeth

Add chat message to Claude: webhook live-test (#27)
  .chat/inbox/from-chatgpt/2025-09-11-test.json
Owners: @tobias-spaeth

Add chat message to Claude: echo webhook-flow
  .chat/inbox/from-chatgpt/2025-09-11-echo.json
Owners: @tobias-spaeth

Add chat message to Claude: echo webhook-flow (#28)
  .chat/inbox/from-chatgpt/2025-09-11-echo.json
Owners: @tobias-spaeth

fix: disable auto-merge for webhook test
  .claude/settings.local.json
  .github/workflows/auto-merge-chat.yml
Owners: @tobias-spaeth, @ai-team, @devops-team

Add chat message to Claude: claude-check
  .chat/inbox/from-chatgpt/2025-09-16-claude-check.json
Owners: @tobias-spaeth

Add chat message to Claude: webhook ack-test
  .chat/inbox/from-chatgpt/2025-09-11-ack.json
Owners: @tobias-spaeth

fix(operator): express types, ping route order, clean logs; tsconfig ESNext/Bundler; add E2E testing doc
  docs/testing/e2e-chat-operator.md
  tooling/operator/package-lock.json
  tooling/operator/package.json
  tooling/operator/src/cron.ts
  tooling/operator/src/server.ts
  tooling/operator/tsconfig.json
Owners: @tobias-spaeth, @documentation-team

CODEOWNERS:

# CODEOWNERS for AI Shared Memory Repository
# This file defines who is responsible for code in this repository

# Default owners for everything
* @tobias-spaeth

# Memory and shared context - critical for AI coordination
/memory/ @tobias-spaeth @ai-team
/memory/context.json @tobias-spaeth @ai-team

# Contracts and schemas - structural integrity
/contracts/ @tobias-spaeth @ai-team
/schemas/ @tobias-spaeth @ai-team

# CI/CD and workflows
/.github/ @tobias-spaeth @devops-team
/.github/workflows/ @tobias-spaeth @devops-team

# MCP Server implementation
/tooling/github-mcp/ @tobias-spaeth @ai-team

# Agent configurations
/.claude/ @tobias-spaeth @ai-team
/.claude/agents/ @tobias-spaeth @ai-team

# Documentation
/docs/ @tobias-spaeth @documentation-team
/docs/adr/ @tobias-spaeth @architecture-team

# Security-sensitive files
.env* @tobias-spaeth
**/secrets/ @tobias-spaeth
**/credentials/ @tobias-spaeth
